@import 'app.scss';
@import 'fix.scss';
@import 'pages.scss';
@import 'media.scss';

:root {
    --el-border-radius-base: 0px;
    --el-color-primary: #626aef;
}

.layout-content {
    padding: 11px 11px 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    background-color: var(--color-bg-1);
    border-radius: 4px;
}