/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $border-width-base: 1px !default,

  $input: (
    'border-radius': 0,
  ),

  $button-border-radius: (
    'large': 0,
    'default': 0,
    'small': 0,
  ),
);

@use "element-plus/theme-chalk/src/index.scss" as *;